.formdb__main {
  align-items: center;
  background-color: $primary;
  display: flex;
  justify-content: center;
  margin: 0px;
  height: auto;
  width: 100%;
  height: 100%;
}

.formdb__box-containter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5%;
  background-color: white;
  box-shadow: 0px 3px $dark-grey;
  border-radius: 5px;
  padding: 25px;
  width: 70%;
  max-width: 590px;
  overflow: auto;
}
.question {
  display: block;
  margin-bottom: 1rem;
}

.main__form {
  padding: 3%;
}

.options {
  margin-top: 0.4rem;
  margin-left: 0.8rem;
}

.auth__title {
  color: darken($color: $primary, $amount: 20);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.4rem;
}

.obj__text {
  padding-left: 3%;
  padding-right: 3%;
}

.main__form-question {
  margin-bottom: 0.8rem;
}

.main__form-qtext {
  margin-bottom: 0.5rem;
}

.main__form-checkbox {
  margin-right: 0.5rem;
}

.auth__input {
  color: $dark-grey;
  border: 0px;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 10px;
  height: 20px;
  width: 100%;
  transition: border-bottom 0.3s ease;
  &:focus {
    border-bottom: 1px solid $primary;
    outline: none;
  }
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 7px 10px 7px 10px;
}

.btn-primary {
  background-color: $primary;
  border-radius: 5px;
}

.submit__feedback {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: #0b0b0b96;
}

.submit__modal-container {
  position: relative;
  z-index: 100;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;
  border-radius: 0.5rem;
  width: 50%;
  height: 5%;
  margin: auto;
  transform: translateY(100%);
  background-color: white;
}

.submit__message {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.submit__close-button {
  background-color: $primary;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0.8rem, -0.9rem);
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;
  border: none;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.sumbit__span {
  width: 0.6rem;
  height: 0.6rem;
  padding: 0;
  align-items: center;
  margin: auto;
  font-size: 22px;
  color: white;
}
